@import "./base.css";
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.text-color_primary {
  color: #344054;
}
.text-color__tertiary {
  color: rgba(174, 174, 174, 1);
}
.text-secondary
{
 color: #667085;
}
.color-alert {
  color: #bf2c24;
}
.color-layout {
  background: #f7f6f2;
}
.color-gray {
  color: #c6c4c4;
}
.color-light-gray {
  color: #667085;
}
.color-yellow {
  color: #fc6c28;
}
.color-blue {
  color: #0060bf;
}
.color-light-blue {
  color: #1f84d7;
}
.text-md {
  font-size: 14px;
}
.text-sm {
  font-size: 12px;
}
.text-lg {
  font-size: 20px;
}
.text-xlg {
  font-size: 24px;
}
.color-red {
  color: #bf2c24;
}
.bg-red {
  background: #bf2c24;
}
.btn-alert__rounded {
  border: none;
  background-color: #e60000;
  color: white;
  border-radius: 50px;
  padding: 5px 20px;
  font-weight: 700;
}
.btn-outline-primary
{
  border: solid 1px #344054;
  border-radius: 20px;
  padding: 8px 20px;
  background: none;
  color: #344054;
}
.btn-outline-primary:hover
{
  background-color: #344054;
  cursor: pointer;
  color: #fff;
}
.btn-outline {
  border: solid 1px #3f5a93;
  border-radius: 20px;
  padding: 8px 20px;
  background: none;
  color: #3f5a93;
}
.btn-outline:hover {
  background-color: #3f5a93;
  cursor: pointer;
  color: #fff;
}
.btn-outline__alert {
  border: solid 1px #ff6114;
  border-radius: 20px;
  padding: 8px 20px;
  background: none;
  color: #ff6114;
}
.btn-alert {
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  background: #ff6114;
  color: #fff;
}
.btn-success {
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  background: #28dd9d;
  color: #fff;
}
.btn-success:hover {
  cursor: pointer;
  background: #0ca977;
}
.btn-outline__alert:hover {
  background: #ff6114;
  color: #fff;
  cursor: pointer;
}
.btn-alert:hover {
  cursor: pointer;
  background: #e60000;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
